<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.ice.mdplca"
         name="Markov Decision Process - Local Collision Avoidance Plugin"
         point="org.eclipse.ice.item.itemBuilder">
      <implementation
            class="org.eclipse.ice.mdplca.MDPLCAModelBuilder">
      </implementation>
      <implementation
            class="org.eclipse.ice.mdplca.MDPLCALauncherBuilder">
      </implementation>
   </extension>

</plugin>
